.btn-info-pj{
    background-color: #0066cc !important;
    margin-top:15px;
    border-color: #c2bebe;
}

.position{
    display:flex;
    justify-content: flex-end;
    margin-left: auto;
    width: auto;
}